*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4e4ba;
    height: 100vh;
}

.conatiner{

    background-color: #fff;
    min-height: 45vh;
    width: 40;
    padding: 2rem;
    border-radius: 1rem;

}
.form{
    margin: 2rem 0 1rem 0;
}

form select,button,input{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.7rem;
}
form input{
    padding-left: 0.5rem;
    border: 1px solid lightgray;
    height: 2rem;
    font-size: 1rem;
}
.dropdown{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

.select img{
    max-width: 1.75rem;
}
.select{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.75;
    border: 1px solid lightgray;
}

.dropdown i {
    font-size: 1.5rim;
    margin-top: 1rem;
}
.msg{
    margin: 2rem 0 2rem 0;
}
form button{
    height: 3rem;
    background-color: red;
    font-size: 1.15;
    color: #fff;
    cursor: pointer;
}